* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2c2c2d;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}

.grid-container {
    display: grid;
    background-color: #fff; 
    min-height: 100vh;
    gap: 1rem;
    /* grid-template-columns: 20rem 60rem 10rem; */
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 6rem 1fr 4rem 6rem;
}

.grid-item {
    background-color: #4c5caf;
    padding: 1rem;
}

.header {
    grid-column: span 3;
    grid-row: 1;
}

.main {
    grid-column: span 2;
    grid-row: 2;
}

.sidebar {
    grid-column: 1;
    grid-row: 2 / 5;
}

.footer {
    grid-column: span 2;
    grid-row: 4;
}