body {
  background-color: #232323;
  color: #fff;
  font-family: sans-serif;
  padding: 1rem 2rem;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: .125rem; /* 2px */
}

.galery > img {
  /* aspect-ratio: 1 / 1; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 12rem;
  height: 12rem;
  width: 12rem;
  object-fit: cover;
}